# random directories
.vscode/
.obsidian/

# random extensions
*.rdi

# project directories
!ai_files/protected/
!ai_files/*.{cpp,h}
ai_files/
!ai/*.{cpp,h,hpp,py,sh}
ai/
logs/
__pycache__/

# project binaries
*.o
*.a
controller
battleships

# project files
options.json
